* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: #5f5f5f;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(30, 210, 171);
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 650px;
    z-index: 9;
    background-color: #b6b6b683;
    backdrop-filter: blur(50px);
    border-radius: 0 0 50px 0;
    transition: 0.5s ease all;

    @media (max-width: 550px) {
        width: 100vw;
        bottom: 0;
        top: 100%;
        border-radius: 50px 0 0  0;
    }
    &:hover  {
                background-color: #e2e2e2;
            }

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 80px;
        transition: 0.5s ease all;

        li {
            list-style: none;
            overflow: hidden;
            
            &:hover .navName {
                transform: translateX(0);
                display: block;
                width: 110px;
            }

    
            
            a {
                display: flex;
            flex-direction: row;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                color: rgba(44, 41, 41, 0.801);
                font-size: 1.5rem;
                font-weight: 500;
                
            }

            

            svg {
                width: 40px;
            }
        }
    }
}

.navName {
    margin-left: 10px;
    
    transform: translateX(-1000px);
    transition: 0.5s ease all;
    width: 0px;
}

header {
    background: rgb(255,239,239);
    background: linear-gradient(148deg, rgba(255,239,239,1) 0%, rgba(255,255,238,1) 33%, rgba(224,253,255,1) 66%, rgba(248,237,255,1) 100%);
    width: 100%;
    background-size: 200%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    overflow: hidden;
    animation: headerAnime 5s ease-in-out infinite;

    @media screen and (max-width: 550px) {
        justify-content: flex-start;
        padding: 0 5%;
    }
}

@keyframes headerAnime {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.keyboard {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;

    @media screen and (max-width: 550px) {
        z-index: 2;
        top: -200px;
        right: -450px;
    }
}

.airpods {
    position: absolute;
    top: 30vh;
    left: 50%;

    @media screen and (max-width: 550px) {
        width: 100px;
        left: 10%;
        top: 35vh;
    }
}

.hi {
    background: #767676;
    background: -webkit-linear-gradient(to bottom, #767676 0%, #00000048 100%);
    background: -moz-linear-gradient(to bottom, #767676 0%, #00000048 100%);
    background: linear-gradient(to bottom, #767676 0%, #00000049 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;

    @media screen and (max-width: 550px) {
        font-size: 4rem;   
    }
}

.hi span {
    color: #25D998;
    background: #25D998;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

.name {
    margin-top: -70px;
    font-size: 12rem;
    background: #4D4D4D;
background: -webkit-radial-gradient(circle farthest-side at center center, #4D4D4D 0%, #00000069 100%);
background: -moz-radial-gradient(circle farthest-side at center center, #4D4D4D 0%, #00000067 100%);
background: radial-gradient(circle farthest-side at center center, #4D4D4D 0%, #0000006e 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

    @media screen and (max-width: 550px) {
        font-size: 4rem;
        margin-top: -30px;
    }
 
}

.title {
    margin-top: 200px;
    @media screen and (max-width: 550px) {
        margin-top: 50px;
        z-index: 3;
    }
}

.role {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.514);
    margin-top: 10px;
}

.role:nth-child(2) {
    margin-left: 50px;
}

.role:nth-child(3) {
    margin-left: 120px;
}

.subtitle { 
    margin-top: 10px;
    position: relative;
    @media screen and (max-width: 550px) {
        margin-top: 40vh;
    }
}


.line.one {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.226);
    width: 2px;
    height: 500px;
    top: 45px;
    left: 10px
}

.line.two {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.226);
    width: 2px;
    height: 500px;
    top: 95px;
    left: 60px
}

.line.three {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.226);
    width: 2px;
    height: 500px;
    top: 140px;
    left: 110px
}

.arrow {
    width: 150px;
    @media screen and (max-width: 550px) {
        width: 80px;
    }
    
}

.more  {
    position: relative;
}

.more span {
    position: absolute;
    top: -10px;
    transform: rotate(10deg);
    font-family: 'Gochi Hand', cursive;
    color: rgba(0, 0, 0, 0.541);
    font-size: 1.8rem;
    left: 60px;

    @media screen and (max-width: 550px) {
        font-size: 1.3rem;
    }
    
    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.541);
    }
}

.scrollButton  { 
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 300px;
    
    @media screen and (max-width: 550px) {
        left: 30%;
        width: 250px;
        bottom: 5px;
        display: none;
    }
}

.joke {
    background: url("./Assets/question.png");
    width: 150px;
    height: 300px;
    font-size: 2rem;
    position: absolute;
    bottom: 100px;
    right: 100px;
    background-repeat: no-repeat;

    @media screen and (max-width: 550px) {
        transform: scale(0.6);
        bottom: 25vh;
        right: 50px;
    }

}

.joke-text {
    text-align: center;
    transform: rotate(-5deg);
    width: 200px;
    margin-top: 20px;
    margin-left: -20px;
    color: rgba(0, 0, 0, 0.541);
    font-family: 'Gochi Hand', cursive;

}

.scratch {
    width: 250px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.scratch.two {
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.aboutSection {
    width: 100%;
    background: url("./Assets/aboutBG.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.aboutTitle {
    font-size: 3rem;
    color: rgb(255, 255, 255);

    span {
        color: #25D998;
    }
}

.detail {
    background: oldlace;
    width: max-content;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 10px;
    display: inline-block;
    
    margin: 0 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 0px 0px #11b2cd, -5px -5px 0px 0px #005b80;

    @media screen and (max-width: 550px) {
        max-width: 95vw;
        min-width: min-content;
    }
}

.detailContainer {
    margin-top: 50px;
    min-height: 50vh;
    padding: 50px;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.918)8 0%, #ffffffa4 100%);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: rgba(255, 255, 255, 0.247) 1px solid;

    p {
        display: inline-block;
        font-size: 20px;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 550px) {
        padding: 20px;
        margin-top: 20px;
    }    
}

.aboutContainer {
    padding: 100px 5%;
    // This is the container for the about section
}

.aboutDescription {
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    margin-left: 50px;

    span {
        color: #25D998;
    }
}

.skillSection {
    width: 100%;
    background: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: fixed;
}

.skillTitle {
    font-size: 3rem;
    color: rgb(36, 36, 36);

    span {
        color: #25D998;
    }
}

.skillContainer {
    padding: 100px 5%;
}

.skillDescription {
    font-size: 1.4rem;
    color: rgb(112, 112, 112);
    margin-left: 50px;

    span {
        color: #17bd80;
    }
}

.skillsContainer {
    padding: 50px 2.5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 50px;
    justify-content: center;
    align-items: center;
    grid-row-gap: 50px;
}

.skill {
    width: 200px;
    height: 250px;
    padding: 30px 10px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    cursor: pointer;
    transition: 1s ease all;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    flex-direction: column;

    img {
        object-fit: cover;
    }

    .desc {
        font-size: 1rem;
        color: azure;
        transform: rotateY(-180deg);
        display: none;
    }

    p {
        color: rgb(87, 87, 87);
        font-size: 1.1rem;
        font-weight: 500;
    }

    &:hover {
        transform: rotateY(180deg) scale(1.1);
        background: #ffffffa9;
    }

    &:hover .desc {
        display: block;
        color: #565656;
    }

    &:hover img{
        display: none;
    }

    &:hover .skillName{
        display: none;
    }
}

.workSection {
    background: url("./Assets/workBG.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
    animation: workBg 30s ease infinite;
    min-height: 100vh;
    
    @media screen and (max-width: 550px) {
        background-size: 1000%;
    }
        
}

@keyframes workBg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.projectsContainer {
    padding: 50px 2.5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 100px;
    grid-row-gap: 100px;
}

.project {
    
    width: 350px;

    img {
        width: 350px;
        height: 200px;
        box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.089);
        object-fit: cover;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    // grid-column-gap: 20px;
    // grid-row-gap: 20px;

    .tag {
        padding: 0.2rem 0.5rem;
        margin: 5px;
        font-size: 15px;
        width: max-content;
        border-radius: 8px;
    }

    .html {
        background: #ff34017a;
        border: 2px solid #ff3301;
    }

    .css {
        background: #0184ff7a;
        border: 2px solid #0184ff;
    }
    
    .js {
        background: #f7df1f7a;
        border: 2px solid #e9ce00;
    }

    .jquery {
        background: #0059ff7a;
        border: 2px solid #0059ff;
    }

    .figma {
        background: #ea00ff7a;
        border: 2px solid #ea00ff;
    }
    
    .netlify {
        background: #0afdc859;
        border: 2px solid #00ffbf;
    }

    .github {
        background: #aaaaaa7a;
        border: 2px solid #585858;
    }

    .react {
        background: #00228165;
        border: 2px solid #002381;
    }
}

.projectName {
    color: #292929d7;
}

.viewWork {
    background: linear-gradient(to right, #24D695, #32BC9B);
    padding: 0.5rem 1.7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 20px;
    color: #ffffff;
    border-radius: 10px;

    div  {
        height: 27px;
        width: 2px;
        background: #4e4e4e52;
    }

    h3 {
        cursor: pointer;
        font-weight: 500;
    }
}

.contactSection {
    background: #000;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.contactTitle {
    color: rgb(248, 248, 248);    
    font-size: 3rem;

    span {
        color: #25D998;
    }
}

.contactContainer {
    padding: 100px 5% 0 5%;
}

.contactDescription {
    font-size: 1.4rem;
    color: #bbbbbb;
    margin-left: 50px;

    span {
        color: #25D998;
    }
}

.me {
    position: absolute;
    top: -50px;
    right: -150px;

    width: 40%;
    transform: rotate(-30deg);
}

.meMe {
    color: #fff;
    font-family: 'Gochi', cursive;
    position: absolute;
    right: 30%;
    top: 50px;
    display: none;

    img {
        transform: rotate(290deg);
        position: relative;
    }

    p {
        transform: rotate(-25deg);
        position: absolute;
        left: -40px;
        top: 20px;
        font-size: 20px;
    }
}

input {
    width: 35vw;
    height: 40px;
    background: #2c2c2c;
    border: none;
    font-size: 18px;
    color: #fff;
    padding: 0 15px;
    border-radius: 0 10px 10px 0;

    &:focus {
        outline: rgb(49, 49, 49) solid 2px;
        background: #252525;
    }

    @media screen and (max-width: 550px) {
        width: 70vw;  
    }
}

.inputSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 60vw;

    @media screen and (max-width: 550px) {
        width: 90vw;
        
    }
}

.iconBox {
    width: 50px;
    height: 40px;
    background: #414141;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 25px;
    }
}

textarea {
    width: 35vw;
    height: 200px;
    background: #2c2c2c;
    border: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0 10px 10px 0;
    resize: none;

    &:focus {
        outline: rgb(49, 49, 49) solid 2px;
        background: #252525;
    }

    @media screen and (max-width: 550px) {
        width: 70vw;  
    }
}

.iconBox-message {
    width: 50px;
    height: 200px;
    background: #414141;
    border-radius: 10px 0 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 25px;
    }
}

.sendButton {
    display: flex;
    cursor: pointer;
    margin-top: 50px;
    border: 0;
    border-radius: 20px;
    height: 40px;

    @media screen and (max-width: 550px) {
        margin-top: 0;
        margin-bottom: 50px;
    }
}

.iconBox-send {
    width: 50px;
    height: 40px;
    background: #333333;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 25px;
    }

}

.sendButtonText {
    color: rgb(48, 48, 48);
    font-size: 18px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background: #fff;
    width: max-content;
    padding: 0.4rem 1rem;
    border-radius: 0 10px 10px 0;
}

.phoneNumber {
    color: #fff;
    padding-left: 30px;
    font-size: 22px;

    
}

.phoneContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;
    margin-bottom: 50px;
}

.phoneIcon {
    height: 80px;
    padding-right: 30px;
    border-right: 2px solid #383838;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: 35px;
    }
    a {
        margin-bottom: -10px;
    }
}

.contactContainerr {
    padding: 80px 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    grid-column-gap: 100px;
    grid-row-gap: 100px;

}