* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: #5f5f5f;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(30, 210, 171);
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 650px;
    z-index: 9;
    background-color: #b6b6b66c;
    backdrop-filter: blur(100px);
    border-radius: 0 0 50px 0;
    transition: 0.5s ease all;

    &:hover  {
                background-color: #565656;
            }

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 80px;
        transition: 0.5s ease all;

        li {
            list-style: none;
            overflow: hidden;
            
            &:hover .navName {
                transform: translateX(0);
                display: block;
                width: 110px;
            }

    
            
            a {
                display: flex;
            flex-direction: row;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                color: rgba(44, 41, 41, 0.801);
                font-size: 1.5rem;
                font-weight: 500;
                
            }

            

            svg {
                width: 40px;
            }
        }
    }
}

.navName {
    margin-left: 10px;
    
    transform: translateX(-1000px);
    transition: 0.5s ease all;
    width: 0px;
}

header {
    background: rgb(255,239,239);
    background: linear-gradient(148deg, rgba(255,239,239,1) 0%, rgba(255,255,238,1) 33%, rgba(224,253,255,1) 66%, rgba(248,237,255,1) 100%);
    width: 100%;
    background-size: 200%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    overflow: hidden;
    animation: headerAnime 5s ease-in-out infinite;
}

@keyframes headerAnime {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.keyboard {
    position: absolute;
    right: 0;
    top: 0;
}

.airpods {
    position: absolute;
    top: 30vh;
    left: 50%;
}

.hi {
    background: #767676;
    background: -webkit-linear-gradient(to bottom, #767676 0%, #00000048 100%);
    background: -moz-linear-gradient(to bottom, #767676 0%, #00000048 100%);
    background: linear-gradient(to bottom, #767676 0%, #00000049 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
}

.hi span {
    color: #25D998;
    background: #25D998;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
}

.name {
    margin-top: -70px;
    font-size: 12rem;
    background: #4D4D4D;
background: -webkit-radial-gradient(circle farthest-side at center center, #4D4D4D 0%, #00000069 100%);
background: -moz-radial-gradient(circle farthest-side at center center, #4D4D4D 0%, #00000067 100%);
background: radial-gradient(circle farthest-side at center center, #4D4D4D 0%, #0000006e 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 
}

.title {
    margin-top: 200px;
}

.role {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.514);
    margin-top: 10px;
}

.role:nth-child(2) {
    margin-left: 50px;
}

.role:nth-child(3) {
    margin-left: 100px;
}

.subtitle { 
    margin-top: 10px;
    position: relative;
}


.line.one {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.226);
    width: 2px;
    height: 500px;
    top: 45px;
    left: 10px
}

.line.two {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.226);
    width: 2px;
    height: 500px;
    top: 95px;
    left: 60px
}

.line.three {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.226);
    width: 2px;
    height: 500px;
    top: 140px;
    left: 110px
}

.arrow {
    width: 150px;
    
}

.more  {
    position: relative;
  
}

.more span {
    position: absolute;
    top: -10px;
    transform: rotate(10deg);
    font-family: 'Gochi Hand', cursive;
    color: rgba(0, 0, 0, 0.541);
    font-size: 1.8rem;
    left: 60px;
}

.scrollButton  { 
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 300px;
}

.joke {
    background: url("./Assets/question.png");
    width: 150px;
    height: 300px;
    font-size: 2rem;
    position: absolute;
    bottom: 100px;
    right: 100px;
    background-repeat: no-repeat;

}

.joke-text {
    text-align: center;
    transform: rotate(-5deg);
    width: 200px;
    margin-top: 20px;
    margin-left: -20px;
    color: rgba(0, 0, 0, 0.541);
    font-family: 'Gochi Hand', cursive;

}

.scratch {
    width: 250px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.scratch.two {
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.aboutSection {
    width: 100%;
    background: url("./Assets/aboutBG.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.aboutTitle {
    font-size: 3rem;
    color: rgb(255, 255, 255);

    span {
        color: #25D998;
    }
}

.detail {
    background: oldlace;
    width: max-content;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 10px;
    display: inline-block;
    margin: 0 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 0px 0px #b03fe4, -5px -5px 0px 0px #3096eb;
}

.detailContainer {
    margin-top: 50px;
    min-height: 50vh;
    padding: 50px;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.918)8 0%, #ffffffa4 100%);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: rgba(255, 255, 255, 0.247) 1px solid;

    p {
        display: inline-block;
        font-size: 20px;
        margin-bottom: 20px;
    }

    
}

.aboutContainer {
    padding: 100px 5%;
    // This is the container for the about section
}

.aboutDescription {
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    margin-left: 50px;

    span {
        color: #25D998;
    }
}

.skillSection {
    width: 100%;
    background: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: fixed;
}

.skillTitle {
    font-size: 3rem;
    color: rgb(36, 36, 36);

    span {
        color: #25D998;
    }
}

.skillContainer {
    padding: 100px 5%;
}

.skillDescription {
    font-size: 1.4rem;
    color: rgb(112, 112, 112);
    margin-left: 50px;

    span {
        color: #17bd80;
    }
}

.skillsContainer {
    padding: 50px 2.5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.skill {
    width: 200px;
    height: 250px;
    padding: 30px 10px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    cursor: pointer;
    transition: 1s ease all;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    img {
        object-fit: cover;
    }

    .desc {
        font-size: 1rem;
        color: azure;
        transform: rotateY(-180deg);
        display: none;
    }

    p {
        color: rgb(87, 87, 87);
        font-size: 1.1rem;
        font-weight: 500;
    }

    &:hover {
        transform: rotateY(180deg) scale(1.1);
        background: #d8d8d852;
    }

    &:hover .desc {
        display: block;
        color: #565656;
    }

    &:hover img{
        display: none;
    }

    &:hover .skillName{
        display: none;
    }
}

.workSection {
    background: url("./Assets/workBG.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
    animation: workBg 30s ease infinite;
    min-height: 100vh;
}

@keyframes workBg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

