* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: #5f5f5f;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1ed2ab;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 650px;
  z-index: 9;
  background-color: #b6b6b66c;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 0 0 50px 0;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

nav:hover {
  background-color: #565656;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

nav ul li {
  list-style: none;
  overflow: hidden;
}

nav ul li:hover .navName {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: block;
  width: 110px;
}

nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgba(44, 41, 41, 0.801);
  font-size: 1.5rem;
  font-weight: 500;
}

nav ul li svg {
  width: 40px;
}

.navName {
  margin-left: 10px;
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  width: 0px;
}

header {
  background: #ffefef;
  background: linear-gradient(148deg, #ffefef 0%, #ffffee 33%, #e0fdff 66%, #f8edff 100%);
  width: 100%;
  background-size: 200%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10%;
  overflow: hidden;
  -webkit-animation: headerAnime 5s ease-in-out infinite;
          animation: headerAnime 5s ease-in-out infinite;
}

@-webkit-keyframes headerAnime {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes headerAnime {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.keyboard {
  position: absolute;
  right: 0;
  top: 0;
}

.airpods {
  position: absolute;
  top: 30vh;
  left: 50%;
}

.hi {
  background: #767676;
  background: -webkit-gradient(linear, left top, left bottom, from(#767676), to(#00000049));
  background: linear-gradient(to bottom, #767676 0%, #00000049 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
}

.hi span {
  color: #25D998;
  background: #25D998;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
}

.name {
  margin-top: -70px;
  font-size: 12rem;
  background: #4D4D4D;
  background: radial-gradient(circle farthest-side at center center, #4D4D4D 0%, #0000006e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  margin-top: 200px;
}

.role {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.514);
  margin-top: 10px;
}

.role:nth-child(2) {
  margin-left: 50px;
}

.role:nth-child(3) {
  margin-left: 100px;
}

.subtitle {
  margin-top: 10px;
  position: relative;
}

.line.one {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.226);
  width: 2px;
  height: 500px;
  top: 45px;
  left: 10px;
}

.line.two {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.226);
  width: 2px;
  height: 500px;
  top: 95px;
  left: 60px;
}

.line.three {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.226);
  width: 2px;
  height: 500px;
  top: 140px;
  left: 110px;
}

.arrow {
  width: 150px;
}

.more {
  position: relative;
}

.more span {
  position: absolute;
  top: -10px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  font-family: 'Gochi Hand', cursive;
  color: rgba(0, 0, 0, 0.541);
  font-size: 1.8rem;
  left: 60px;
}

.scrollButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 300px;
}

.joke {
  background: url("./Assets/question.png");
  width: 150px;
  height: 300px;
  font-size: 2rem;
  position: absolute;
  bottom: 100px;
  right: 100px;
  background-repeat: no-repeat;
}

.joke-text {
  text-align: center;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  width: 200px;
  margin-top: 20px;
  margin-left: -20px;
  color: rgba(0, 0, 0, 0.541);
  font-family: 'Gochi Hand', cursive;
}

.scratch {
  width: 250px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.scratch.two {
  width: 150px;
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.aboutSection {
  width: 100%;
  background: url("./Assets/aboutBG.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.aboutTitle {
  font-size: 3rem;
  color: white;
}

.aboutTitle span {
  color: #25D998;
}

.detail {
  background: oldlace;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 10px;
  display: inline-block;
  margin: 0 10px;
  margin-top: 10px;
  -webkit-box-shadow: 5px 5px 0px 0px #b03fe4, -5px -5px 0px 0px #3096eb;
          box-shadow: 5px 5px 0px 0px #b03fe4, -5px -5px 0px 0px #3096eb;
}

.detailContainer {
  margin-top: 50px;
  min-height: 50vh;
  padding: 50px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(8, rgba(255, 255, 255, 0.918)), to(#ffffffa4));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.918) 8 0%, #ffffffa4 100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 20px;
  border: rgba(255, 255, 255, 0.247) 1px solid;
}

.detailContainer p {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
}

.aboutContainer {
  padding: 100px 5%;
}

.aboutDescription {
  font-size: 1.4rem;
  color: white;
  margin-left: 50px;
}

.aboutDescription span {
  color: #25D998;
}

.skillSection {
  width: 100%;
  background: white;
  background-size: cover;
  background-attachment: fixed;
}

.skillTitle {
  font-size: 3rem;
  color: #242424;
}

.skillTitle span {
  color: #25D998;
}

.skillContainer {
  padding: 100px 5%;
}

.skillDescription {
  font-size: 1.4rem;
  color: #707070;
  margin-left: 50px;
}

.skillDescription span {
  color: #17bd80;
}

.skillsContainer {
  padding: 50px 2.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.skill {
  width: 200px;
  height: 250px;
  padding: 30px 10px;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.03);
          box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill img {
  -o-object-fit: cover;
     object-fit: cover;
}

.skill .desc {
  font-size: 1rem;
  color: azure;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  display: none;
}

.skill p {
  color: #575757;
  font-size: 1.1rem;
  font-weight: 500;
}

.skill:hover {
  -webkit-transform: rotateY(180deg) scale(1.1);
          transform: rotateY(180deg) scale(1.1);
  background: #d8d8d852;
}

.skill:hover .desc {
  display: block;
  color: #565656;
}

.skill:hover img {
  display: none;
}

.skill:hover .skillName {
  display: none;
}

.workSection {
  background: url("./Assets/workBG.jpg");
  background-size: 200%;
  background-repeat: no-repeat;
  -webkit-animation: workBg 30s ease infinite;
          animation: workBg 30s ease infinite;
  min-height: 100vh;
}

@-webkit-keyframes workBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes workBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.projectsContainer {
  padding: 50px 2.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

.project {
  width: 350px;
}

.project img {
  width: 350px;
  -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.089);
          box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.089);
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags .tag {
  padding: 0.2rem 0.5rem;
  margin: 5px;
  font-size: 15px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 8px;
}

.tags .html {
  background: #ff34017a;
  border: 2px solid #ff3301;
}

.tags .css {
  background: #0184ff7a;
  border: 2px solid #0184ff;
}

.tags .js {
  background: #f7df1f7a;
  border: 2px solid #e9ce00;
}

.tags .jquery {
  background: #0059ff7a;
  border: 2px solid #0059ff;
}

.tags .figma {
  background: #ea00ff7a;
  border: 2px solid #ea00ff;
}

.tags .netlify {
  background: #0afdc859;
  border: 2px solid #00ffbf;
}

.tags .github {
  background: #aaaaaa7a;
  border: 2px solid #585858;
}

.projectName {
  color: #292929d7;
}

.viewWork {
  background: -webkit-gradient(linear, left top, right top, from(#24D695), to(#32BC9B));
  background: linear-gradient(to right, #24D695, #32BC9B);
  padding: 0.5rem 1.7rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  margin-top: 20px;
  color: #ffffff;
  border-radius: 10px;
}

.viewWork div {
  height: 27px;
  width: 2px;
  background: #4e4e4e52;
}

.viewWork h3 {
  cursor: pointer;
  font-weight: 500;
}

.contactSection {
  background: #000;
  min-height: 100vh;
  position: relative;
}

.contactTitle {
  color: #f8f8f8;
  font-size: 3rem;
}

.contactTitle span {
  color: #25D998;
}

.contactContainer {
  padding: 100px 5%;
}

.contactDescription {
  font-size: 1.4rem;
  color: #bbbbbb;
  margin-left: 50px;
}

.contactDescription span {
  color: #25D998;
}

.me {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 99vh;
}

.meMe {
  color: #fff;
  font-family: 'Gochi', cursive;
  position: absolute;
  right: 30%;
  top: 50px;
}

.meMe img {
  -webkit-transform: rotate(290deg);
          transform: rotate(290deg);
  position: relative;
}

.meMe p {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  position: absolute;
  left: -40px;
  top: 20px;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */